# Development files
node_modules/
tests/
coverage/
.git/
.github/
.vscode/
.idea/

# Output files
output/

# Configuration files
.editorconfig
.eslintrc
.gitignore
.prettierrc
jest.config.js

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.env
.env.*
.env.local
.env.development
.env.test
.env.production 